<footer id="t3-footer" class="wrap t3-footer">
  <div class="container">
    <div class="footer-spotlight">
      <div class="t3-spotlight t3-footnav row">
        <div class="col col-lg-12 col-md-12 col-sm-12 col-xs-6 hidden-xs">
          <div class="t3-module module vertical-footer">
            <div class="module-inner">
              <div class="module-ct no-title">
                <ul class="nav nav-pills nav-stacked menu">
                  <li><a routerLink="/category/politics">Politics</a></li>
                  <li><a routerLink="/category/business">Business</a></li>
                  <li><a routerLink="/category/world">World</a></li>
                  <li><a routerLink="/category/tech">Tech</a></li>
                  <li><a routerLink="/category/sport">Sport</a></li>
                  <li><a routerLink="/category/entertainment">Entertainment</a></li>
                  <li><span class="nav-header item-more">Browse All Sections</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="t3-module module">
            <div class="module-inner">
              <div class="module-ct no-title">
                <ul class="nav nav-pills nav-stacked menu">
                  <li><a routerLink="/about">About Us</a></li>
                  <li><a routerLink="/about" fragment="editorial-policy">Editorial Policy</a></li>
                  <li><a routerLink="/about" fragment="corrections-clarifications">Corrections &amp; Clarifications</a></li>
                  <li><a routerLink="/contact" fragment="press-room">Press Room</a></li>
                  <li><a routerLink="/contact" fragment="advertise">Advertise</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="t3-module module">
            <div class="module-inner">
              <div class="module-ct no-title">
                <ul class="nav nav-pills nav-stacked menu">
                  <li><a routerLink="/search">Search</a></li>
                  <li><a routerLink="/search">Smart Search</a></li>
                  <li><a routerLink="/article">Single Article</a></li>
                  <li><a routerLink="/category/world">Category</a></li>
                  <li><a routerLink="/subcategory">Subcategory</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-3 col-xs-6">
          <div class="t3-module module">
            <div class="module-inner">
              <div class="module-ct no-title">
                <ul class="nav nav-pills nav-stacked menu">
                  <li><a routerLink="/">Featured Articles</a></li>
                  <li><a routerLink="/search">Tagged Items</a></li>
                  <li><a routerLink="/about" fragment="typography">Typography</a></li>
                  <li><a routerLink="/page-not-found-demo">404 Page</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 col-md-2 col-sm-3 col-xs-6">
          <div class="t3-module module">
            <div class="module-inner">
              <div class="module-ct no-title">
                <ul class="nav nav-pills nav-stacked menu">
                  <li><a routerLink="/contact" fragment="social-links">Twitter</a></li>
                  <li><a routerLink="/contact" fragment="social-links">Facebook</a></li>
                  <li><a routerLink="/contact" fragment="social-links">Tumblr</a></li>
                  <li><a routerLink="/contact" fragment="social-links">Pinterest</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col col-lg-3 col-md-4 col-sm-12 col-xs-12">
          <div class="t3-module module">
            <div class="module-inner">
              <div class="module-ct no-title">
                <div class="acym_module">
                  <div class="acym_fulldiv">
                    <form class="acym_module_form" action="#" method="post" onsubmit="return false">
                      <div class="acym_introtext">Sign up to our daily email</div>
                      <table class="acym_form">
                        <tbody>
                          <tr>
                            <td>
                              <input type="email" class="cell acym__user__edit__email" placeholder="Email" />
                            </td>
                            <td class="acysubbuttons">
                              <input type="button" class="btn btn-primary button subbutton" value="Subscribe" />
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="t3-copyright-wrap">
    <div class="container">
      <div class="t3-copyright">
        <div class="row">
          <div class="col-md-8 copyright">
            <div class="module">
              <small>Copyright © 2026 Focus News. All rights reserved.</small>
              <small
                ><a href="https://www.joomla.org/">Joomla!</a> is Free Software released under the
                <a href="https://www.gnu.org/licenses/gpl-2.0.html">GNU General Public License.</a></small
              >
            </div>
          </div>
          <div class="col-md-4 poweredby text-hide">
            <a class="t3-logo t3-logo-dark" href="https://t3-framework.org/" title="Powered By T3 Framework" target="_blank" rel="noopener"
              >Powered By <strong>T3 Framework</strong></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
