<div
  class="news-big"
  [class.col-md-6]="leadLayout === 'half'"
  [class.col-md-12]="leadLayout === 'wide'"
  [class.clearfix]="clearfix"
  [ngClass]="accentClass"
>
  <div [class]="imageWrapperClass" itemprop="image">
    <a [routerLink]="item.titleLink" itemprop="url">
      <img [src]="item.imageSrc" [alt]="item.imageAlt" itemprop="thumbnailUrl" />
    </a>
  </div>
  <div class="article-content">
    @if (metaAfterTitle) {
      <h4 class="mod-articles-category-title">
        <a [routerLink]="item.titleLink">{{ item.title }}</a>
      </h4>
      <aside class="article-aside aside-before-title">
        <dl class="article-info muted">
          @if (item.categoryLabel && item.categoryLink) {
            <dd class="mod-articles-category-category">
              <a [routerLink]="item.categoryLink">{{ item.categoryLabel }}</a>
            </dd>
          }
          @if (item.dateLine) {
            <dd class="mod-articles-category-date">{{ item.dateLine }}</dd>
          }
        </dl>
      </aside>
    } @else {
      <aside class="article-aside aside-before-title">
        <dl class="article-info muted">
          @if (item.categoryLabel && item.categoryLink) {
            <dd class="mod-articles-category-category">
              <a [routerLink]="item.categoryLink">{{ item.categoryLabel }}</a>
            </dd>
          }
          @if (item.dateLine) {
            <dd class="mod-articles-category-date">{{ item.dateLine }}</dd>
          }
        </dl>
      </aside>
      <h4 class="mod-articles-category-title">
        <a [routerLink]="item.titleLink">{{ item.title }}</a>
      </h4>
      @if (item.intro) {
        <p class="mod-articles-category-introtext">{{ item.intro }}</p>
      }
    }
  </div>
</div>
