<app-site-off-canvas />
<div class="t3-wrapper" (click)="onWrapperClick($event)">
  <div class="container-hd">
    <app-site-header />
    <router-outlet />
    <app-site-footer />
  </div>

  <div
    id="back-to-top"
    class="back-to-top hidden-xs hidden-sm"
    [class.affix]="backTopVisible()"
    [class.affix-top]="!backTopVisible()"
    [style.display]="backTopVisible() ? 'block' : 'none'"
  >
    <button type="button" class="btn btn-primary" title="Back to Top" (click)="scrollTop()">
      <span class="fa fa-long-arrow-up" aria-hidden="true"></span>
    </button>
  </div>
</div>
