<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row">
    <div id="t3-content" class="t3-content col-xs-12">
      <div class="item-page">
        <article class="default">
          <section class="article-content clearfix">
            <h1>Page not found</h1>
            <p class="alert">The page you requested could not be found.</p>
            <p><a routerLink="/" class="btn btn-primary">Go to home</a></p>
          </section>
        </article>
      </div>
    </div>
  </div>
</div>
