:root {
  --border-color: #E5E7EB;
  --text-color: #4B5563;

  --green-color: #059669;
  --white-color: #fff;

  --global-spacing: 8px;
  --trans-base: all 0.25s ease;
}

html,body {
  height: 100%;
}

.jub-page-edit {
  background-color: #F9FAFB;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.jub-edit-header {
  background-color: #fff;
  box-shadow: 0 3px 5px rgba(0,0,0,0.03);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--global-spacing) * 1.5) calc(var(--global-spacing) * 2);
}

.jub-edit-header h3 {
  color: #4B5563;
  font-size: 18px;
  margin: 0;
}

.jub-editor {
  border-radius: 5px;
  height: calc(100% - 94px);
  max-width: 1600px;
  margin: 0 auto;
  padding-top: calc(var(--global-spacing) * 2);
}

.ja-builder-form {
  height: 100%;
}

.content-edit {
  height: 100%;
}

.CodeMirror {
  border: 1px solid var(--border-color);
  height: 100%;
}

.ja-builder-action .btn {
  border-radius: 35px;
  border: 0;
  color: var(--text-color);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin-right: calc(var(--global-spacing) / 2);
  padding: 10px calc(var(--global-spacing) * 3);
}

.ja-builder-action .btn:hover,
.ja-builder-action .btn:focus,
.ja-builder-action .btn:active {
  background-color: #D1D5DB;
  cursor: pointer;
}

.ja-builder-action .btn span {
  color: #6B7280;
  font-size: 13px;
  font-weight: 400;
  margin-right: 6px;
}

.ja-builder-action .btn-save {
  background-color: var(--green-color);
  color: var(--white-color);
  transition: var(--trans-base);
}

.ja-builder-action .btn-save span {
  color: #fff;
}

.ja-builder-action .btn-save:hover,
.ja-builder-action .btn-save:focus,
.ja-builder-action .btn-save:active {
  background-color: #047857;
}

.ja-builder-action .btn-preview {
  background-color: #3B82F6;
  color: #fff;
}

.ja-builder-action .btn-preview span {
  color: #fff;
}

.ja-builder-action .btn-preview:hover,
.ja-builder-action .btn-preview:focus,
.ja-builder-action .btn-preview:active {
  background-color: #2563EB;
}

/* Preview page */
.jab-builder-preview {
  background-color: rgba(0,0,0,0.2);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: calc(var(--global-spacing) * 4);
  z-index: 300;
}

.jab-builder-preview .iframe-preview {
  background-color: var(--white-color);
  box-shadow: 0 3px 5px rgba(0,0,0,0.3);
  border-radius: 5px;
  height: 100%;
  padding: 0;
  position: relative;
}

.jab-builder-preview .ja-iframe {
  border-radius: 0 0 5px 5px;
  height: calc(100% - 52px);
  width: 100%;
  border: 0;
}

.jab-builder-preview .preview-header {
  border-bottom: 1px solid var(--border-color);
  padding: var(--global-spacing) calc(var(--global-spacing) * 2);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jab-builder-preview .preview-header h3 {
  color: #4B5563;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

.jab-builder-preview .preview-header .btn {
  background-color: #E5E7EB;
  border-radius: 50%;
  border: 0;
  color: #6B7280;
  display: block;
  font-size: 20px;
  height: 36px;
  text-align: center;
  width: 36px;
  transition: var(--trans-base);
}

.jab-builder-preview .preview-header .btn:hover,
.jab-builder-preview .preview-header .btn:focus,
.jab-builder-preview .preview-header .btn:active {
  background-color: #059669;
  color: #fff;
  cursor: pointer;
}


/* Edit Button
/* ---------------------------*/
.jub-edit-btn {
  background: #F44336;
  color: #fff;
  color: rgba(255,255,255,.87);
  font-weight: 500;
  font-size: 14px;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  text-align: left;
  position: fixed;
  top: 16px;
  left: 16px;
  box-sizing: border-box;
  padding: 8px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  border-radius: 50px;
  z-index: 100000;
  transition: .28s cubic-bezier(.4,0,.2,1);
  opacity: 1;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12), 0 3px 3px -2px rgba(0, 0, 0, .4);
}

.jub-edit-btn .material-icons {
}

.jub-edit-btn span {
  line-height: 1;
  display: inline-block;
  opacity: 0;
  margin-left: 8px;
  width: 80px;
  position: relative;
  top: -4px;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: .12s cubic-bezier(.4,0,.2,1);
}

.jub-edit-btn:hover,
.jub-edit-btn:active,
.jub-edit-btn:focus {
  background: #E53935;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .4);
  color: #fff;
  cursor: pointer;
  text-decoration: none !important;
  width: 140px;
}

.jub-edit-btn:hover span,
.jub-edit-btn:active span,
.jub-edit-btn:focus span {
  opacity: 1;
}


/* Onboarding
/* ---------------------------*/
body .jub-edit-btn {
  animation-name: jubBounceIn;
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-delay: 1s;
  z-index: 999999;
}

body.jub-onboarding .jub-edit-btn {
  width: 140px;
}

body.jub-onboarding .jub-edit-btn span {
  opacity: 1;
}

/* Keyframes */
@keyframes jubBounceIn {
  0%, 20%, 40%, 60%, 80%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    transform: scale3d(.97, .97 .97);
  }

  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  40% {
    transform: scale3d(.9, .9, .9);
  }

  60% {
    transform: scale3d(1.03, 1.03, 1.03);
  }

  80% {
    transform: scale3d(.97, .97, .97);
  }

  100% {
    transform: scale3d(1, 1, 1);
  }
}
