<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row">
    <div id="t3-content" class="t3-content col-xs-12">
      <div class="blog" itemscope itemtype="https://schema.org/Blog">
        @for (row of rows; track $index; let ri = $index) {
          <div class="items-row cols-3 row-{{ ri }} row">
            @for (t of row; track t.title; let ci = $index) {
              <div class="col-sm-4">
                <app-blog-post-teaser
                  [teaser]="t"
                  [columnClass]="columnClass(ci)"
                  genreLink="/article"
                  articleLink="/article"
                />
              </div>
            }
          </div>
        }

        <div class="pagination-wrap">
          <div class="counter">Page 1 of 12</div>
          <ul class="pagination">
            <li class="disabled"><a>Start</a></li>
            <li class="disabled"><a>Prev</a></li>
            <li class="active"><a>1</a></li>
            @for (p of extraPages; track p) {
              <li><a routerLink="/blog" [title]="p + ''">{{ p }}</a></li>
            }
            <li><a routerLink="/blog" title="Next">Next</a></li>
            <li><a routerLink="/blog" title="End">End</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
