<li itemprop="name" class="dropdown mega  item-more mega-align-justify" data-id="137" data-level="1" data-class=" item-more" data-alignsub="justify" data-xicon=" fa fa-bars">
<span class=" item-more dropdown-toggle separator" data-target="#" data-toggle="dropdown"><span class=" fa fa-bars"></span> Browse All Sections<em class="caret"></em></span>

<div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12"><div class="mega-dropdown-inner">
<div class="row">
<div class="col-xs-12 mega-col-module" data-width="12" data-position="121"><div class="mega-inner">
<div class="t3-module module show-all equal-height " id="Mod121"><div class="module-inner"><h3 class="module-title "><span>All Sections</span></h3><div class="module-ct "><ul class="categories-module  show-all equal-height">
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">
			
			Politics		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Election 2017		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Debating		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Opinion		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">Business		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Market		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Personal Finance		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Technology		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">World		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Africa		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Americas		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Asia Pacific		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Europe		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Middle East		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">
			
			Tech		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Computer		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Tech Tip		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Personal Tech		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Mobile		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">Sport		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			NFL		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			NBA		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Soccer		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Boxing		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Tennis		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">
			
			Entertainment		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Movie		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Music		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			TV Show		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">
			
			Food		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Cooking		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Restaurant		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Stress Foods		</a>
   		</h5>

					</li>
						</ul>			</li>
	<li class="col " style="min-height: 1px;"> 		<h4>
		<a routerLink="/category/world">
			
			Fashion &amp; Style		</a>
   		</h4>

							<ul>										<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Men's Style		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Women's Style		</a>
   		</h5>

					</li>
	<li class="col "> 		<h5>
		<a routerLink="/subcategory">
			
			Wedding		</a>
   		</h5>

					</li>
						</ul>			</li>
</ul>
</div></div></div>
</div></div>
</div>
</li>
