<header id="t3-header" class="container t3-header">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4 logo">
      <div class="logo-text">
        <a routerLink="/" title="focus"><span>focus</span></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-8">
      <div class="t3-sl t3-sl-1">
        <div class="t3-spotlight t3-spotlight-1 row">
          <div class="col col-lg-6 col-md-6 col-sm-6 hidden-sm col-xs-6 hidden-xs t3-header-magazine">
            <div class="t3-module module">
              <div class="module-inner">
                <div class="module-ct no-title">
                  <a class="t3-header-magazine__imgwrap" routerLink="/contact" title="Newsletters">
                    <img
                      class="t3-header-magazine__img"
                      src="/images/header-mag-cover.jpg"
                      alt="Newsletters"
                      width="333"
                      height="120"
                    />
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col col-lg-6 col-md-6 col-sm-12 col-xs-12 hidden-xs t3-header-breaking-col">
            <div class="t3-module module">
              <div class="module-inner">
                <h3 class="module-title"><span>Breaking News</span></h3>
                <div class="module-ct">
                  <ul class="latest-news-header">
                    <li class="clearfix">
                      <a
                        class="item-title"
                        routerLink="/article"
                        title="Donald Trump Threatens to Sue The Times Over Article on Unwanted Advances"
                      >
                        <span>Donald Trump Threatens to Sue The Times Over Article on Unwanted Advances</span>
                      </a>
                      <div class="pull-left item-image">
                        <a routerLink="/article">
                          <img src="/images/news-1.jpg" alt="Breaking headline" />
                        </a>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
