<app-site-chrome-top />

<div class="container">
  <nav id="t3-mainnav" class="navbar navbar-default t3-mainnav">
    <div class="t3-navbar-collapse navbar-collapse collapse">
      <ul class="nav navbar-nav level0">
        <li class="cat-purple"><a routerLink="/category/politics">Politics</a></li>
        <li class="cat-orange"><a routerLink="/category/business">Business</a></li>
        <li class="cat-blue"><a routerLink="/category/world">World</a></li>
        <li class="cat-cyan"><a routerLink="/category/tech">Tech</a></li>
        <li class="cat-green"><a routerLink="/category/sport">Sport</a></li>
        <li class="cat-yellow"><a routerLink="/category/entertainment">Entertainment</a></li>
        <li class="item-more"><span><span class="fa fa-bars"></span> Browse All Sections</span></li>
      </ul>
    </div>
    <div class="t3-navbar navbar-collapse collapse">
      <div
        class="t3-megamenu animate fading"
        appSiteMegamenuHover
        data-duration="400"
        data-responsive="true"
      >
        <ul class="nav navbar-nav level0">
          <li class="dropdown mega mega-align-justify cat-purple">
            <a class="dropdown-toggle" routerLink="/category/politics">Politics <em class="caret"></em></a>
            <div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12">
              <div class="mega-dropdown-inner">
                <div class="row">
                  <div class="col-xs-3 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Politics Categories</span></h3>
                          <div class="module-ct">
                            <ul class="categories-module">
                              <li class="col">
                                <h4><a routerLink="/subcategory">Election 2017</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Debating</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Opinion</a></h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Latest Politics News</span></h3>
                          <div class="module-ct">
                            <div class="latest-grid row">
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/gallery"><img src="/images/news-3.jpg" alt="News item" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/gallery">Barack Obama Mourns Shimon Peres</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-4.jpg" alt="News item" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">126 million Americans may have seen Russia-linked posts</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-6.jpg" alt="News item" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">News channel debating a topic for 48 hours</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/gallery"><img src="/images/news-7.jpg" alt="News item" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/gallery">Spain on the brink: violence erupts</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega mega-align-justify cat-orange">
            <a class="dropdown-toggle" routerLink="/category/business">Business <em class="caret"></em></a>
            <div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12">
              <div class="mega-dropdown-inner">
                <div class="row">
                  <div class="col-xs-3 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Business Categories</span></h3>
                          <div class="module-ct">
                            <ul class="categories-module">
                              <li class="col">
                                <h4><a routerLink="/subcategory">Market</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Personal Finance</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Technology</a></h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Latest Business News</span></h3>
                          <div class="module-ct">
                            <div class="latest-grid row">
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-8.jpg" alt="" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Business News and Financial News</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-10.jpg" alt="" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Stock Market News</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-11.jpg" alt="" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Mobile information and how-to advice</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-19.jpg" alt="" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Latest smartphone reviews</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega mega-align-justify cat-blue">
            <a class="dropdown-toggle" routerLink="/category/world">World <em class="caret"></em></a>
            <div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12">
              <div class="mega-dropdown-inner">
                <div class="row">
                  <div class="col-xs-3 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>World Categories</span></h3>
                          <div class="module-ct">
                            <ul class="categories-module">
                              <li class="col">
                                <h4><a routerLink="/subcategory">Africa</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Americas</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Asia Pacific</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Europe</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Middle East</a></h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Latest World News</span></h3>
                          <div class="module-ct">
                            <div class="latest-grid row">
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-1.jpg" alt="World headline" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Donald Trump Threatens to Sue The Times Over Unwanted Advances</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-35.jpg" alt="World cup qualifiers" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">2018 FIFA World Cup Russia™ — Qualifiers — Africa</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-36.jpg" alt="Africa travel" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Africa Travel | African Tours: Safari, Egypt, Morocco Trips</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-37.jpg" alt="African news" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Latest breaking news, daily news and African news</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega mega-align-justify cat-cyan">
            <a class="dropdown-toggle" routerLink="/category/tech">Tech <em class="caret"></em></a>
            <div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12">
              <div class="mega-dropdown-inner">
                <div class="row">
                  <div class="col-xs-3 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Tech Categories</span></h3>
                          <div class="module-ct">
                            <ul class="categories-module">
                              <li class="col">
                                <h4><a routerLink="/subcategory">Computer</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Tech Tip</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Personal Tech</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Mobile</a></h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Latest Tech News</span></h3>
                          <div class="module-ct">
                            <div class="latest-grid row">
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-3.jpg" alt="Apple iPhone X" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Apple fires employee after daughter's video of iPhone X goes viral</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-28.jpeg" alt="PC and laptop" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Computers: PC, Laptop &amp; Tablet Options</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-32.jpg" alt="PC ecosystem" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">News and Insights on the PC Ecosystem</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-34.jpg" alt="IT news" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">IT news, careers, business technology, reviews</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega mega-align-justify cat-green">
            <a class="dropdown-toggle" routerLink="/category/sport">Sport <em class="caret"></em></a>
            <div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12">
              <div class="mega-dropdown-inner">
                <div class="row">
                  <div class="col-xs-3 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Sport Categories</span></h3>
                          <div class="module-ct">
                            <ul class="categories-module">
                              <li class="col">
                                <h4><a routerLink="/subcategory">NFL</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">NBA</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Soccer</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Boxing</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Tennis</a></h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Latest Sport News</span></h3>
                          <div class="module-ct">
                            <div class="latest-grid row">
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-6.jpg" alt="Sport news" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">NewsNow: Sport news | Breaking News &amp; Search 24/7</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-23.jpeg" alt="Mobile sport" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Mobile information, news, and how-to advice</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-28.jpeg" alt="Smartphone reviews" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Mobile News, Latest Smartphone Reviews &amp; Launches</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-16.jpeg" alt="Mobile news" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Latest Mobiles News, Mobiles News on Samsung Mobiles, iPhone</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown mega mega-align-justify cat-yellow">
            <a class="dropdown-toggle" routerLink="/category/entertainment">Entertainment <em class="caret"></em></a>
            <div class="nav-child dropdown-menu mega-dropdown-menu col-xs-12">
              <div class="mega-dropdown-inner">
                <div class="row">
                  <div class="col-xs-3 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Entertainment Categories</span></h3>
                          <div class="module-ct">
                            <ul class="categories-module">
                              <li class="col">
                                <h4><a routerLink="/subcategory">Movie</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">Music</a></h4>
                              </li>
                              <li class="col">
                                <h4><a routerLink="/subcategory">TV Show</a></h4>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-9 mega-col-module">
                    <div class="mega-inner">
                      <div class="t3-module module">
                        <div class="module-inner">
                          <h3 class="module-title"><span>Latest Entertainment News</span></h3>
                          <div class="module-ct">
                            <div class="latest-grid row">
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-7.jpg" alt="Celebrity news" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Breaking Celeb News, Entertainment News, and Celebrity Gossip</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-17.jpeg" alt="EU citizens UK" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">EU citizens explain why they are leaving the UK</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-11.jpg" alt="Merkel" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Merkel Vows to Stay on Course Despite Party Setback</a>
                              </div>
                              <div class="col-sm-3">
                                <div class="pull-left item-image">
                                  <a routerLink="/article"><img src="/images/news-14.jpeg" alt="Labour MP" /></a>
                                </div>
                                <span class="created-date">09 March 2022</span>
                                <a class="item-title" routerLink="/article">Labour MP who said Remain voters better educated 'has facts on side'</a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li
            appBrowseAllMega
            class="dropdown mega item-more mega-align-justify"
            data-id="137"
          ></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
