<div class="ja-topbar clearfix">
  <div class="container">
    <div class="row">
      <div class="col-xs-5 col-sm-6 topbar-left pull-left">
        <div class="navbar-toggle-wrap clearfix pull-left">
          <a
            href="#"
            class="navbar-toggle"
            title="open"
            (click)="toggleNavCollapse($event)"
          >
            <span class="fa fa-bars"></span>
          </a>

          <a
            href="#"
            class="btn btn-primary off-canvas-toggle hidden-lg hidden-md"
            title="open"
            data-pos="left"
            data-nav="#t3-off-canvas"
            data-effect="off-canvas-effect-4"
            (click)="toggleOffCanvas($event)"
          >
            <span class="fa fa-bars"></span>
          </a>
        </div>

        <div class="hidden-xs hidden-sm clearfix">
          <ul class="nav nav-pills nav-stacked menu">
            <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a></li>
            <li><a routerLink="/about" routerLinkActive="active">About</a></li>
            <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
            <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
            <li><a routerLink="/videos" routerLinkActive="active">Videos</a></li>
            <li><a routerLink="/gallery" routerLinkActive="active">Gallery</a></li>
          </ul>
        </div>
      </div>

      <div
        class="col-xs-7 col-sm-6 topbar-right pull-right"
        [class.btn-open]="searchOpen() || socialOpen()"
      >
        <div #searchPanel class="head-search" [class.btn-open]="searchOpen()">
          <button
            type="button"
            class="btn btn-search"
            name="subject"
            aria-label="Search"
            [attr.aria-expanded]="searchOpen()"
            (click)="toggleSearch($event)"
          >
            <span class="fa fa-search"></span>
          </button>
          <div class="search">
            <form
              class="form-inline form-search"
              (ngSubmit)="submitSearch()"
              (click)="$event.stopPropagation()"
            >
              <label for="site-search" class="element-invisible">Search</label>
              <input
                #searchInput
                id="site-search"
                name="searchword"
                class="form-control search-query"
                type="search"
                placeholder="Search ..."
                maxlength="200"
                [(ngModel)]="searchWord"
                aria-label="Search"
              />
            </form>
          </div>
        </div>
        <div #socialPanel class="head-social" [class.btn-open]="socialOpen()">
          <button
            type="button"
            class="btn btn-social"
            name="subject"
            aria-label="Share"
            [attr.aria-expanded]="socialOpen()"
            (click)="toggleSocial($event)"
          >
            <span class="fa fa-share-alt"></span>
          </button>
          <div class="custom" (click)="$event.stopPropagation()">
            <ul class="social-list">
              <li>
                <a
                  href="https://www.instagram.com/"
                  title="Instagram"
                  class="btn instagram"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><span class="fa fa-instagram" aria-hidden="true"></span
                  ><span class="follow-us-social__label">Instagram</span></a
                >
              </li>
              <li>
                <a
                  href="https://twitter.com/"
                  title="Twitter"
                  class="btn twitter"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><span class="fa fa-twitter" aria-hidden="true"></span
                  ><span class="follow-us-social__label">Twitter</span></a
                >
              </li>
              <li>
                <a
                  href="https://www.youtube.com/"
                  title="YouTube"
                  class="btn youtube"
                  rel="noopener noreferrer"
                  target="_blank"
                  ><span class="fa fa-youtube-play" aria-hidden="true"></span
                  ><span class="follow-us-social__label">YouTube</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
