<div id="t3-mainbody" class="container t3-mainbody">
  <div class="row">
    <div id="t3-content" class="t3-content col-xs-12">
      <div class="blog videos">
        <div class="ja-videos-list-wrap">
          <div id="ja-main-player" class="embed-responsive embed-responsive-16by9" itemprop="video">
            <div id="videoplayer">
              @if (!mainPlayerActive()) {
                <span class="video-mask"></span>
                <img
                  class="ja-video embed-responsive-item"
                  width="640"
                  height="360"
                  [src]="featured.posterSrc"
                  [alt]="featured.posterAlt"
                />
                <a
                  title="Play"
                  id="ja-btn-play"
                  href="#"
                  (click)="playFeatured($event)"
                >
                  <span class="fa fa-play"></span>
                  <h3>{{ featured.headline }}</h3>
                </a>
              } @else {
                <iframe
                  class="ja-video embed-responsive-item"
                  [title]="featured.headline"
                  [src]="featuredEmbedUrl()"
                  frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen
                ></iframe>
              }
              <noscript> YOU MUST ENABLED JS</noscript>
            </div>
          </div>
        </div>

        <div id="item-container">
          <div class="items-row cols-3">
            <div class="equal-height equal-height-child row-0 row">
              @for (item of row0; track item.dataUrl) {
                <app-video-archive-card [item]="item" />
              }
            </div>
          </div>
          @if (row1.length) {
            <div class="items-row cols-3">
              <div class="equal-height equal-height-child row-1 row">
                @for (item of row1; track item.dataUrl) {
                  <app-video-archive-card [item]="item" />
                }
              </div>
            </div>
          }
        </div>

        <div id="infinity-next" class="btn btn-primary disabled" data-pages="1">That's All</div>
      </div>
    </div>
  </div>
</div>
