<div class="t3-module module" id="Mod143">
  <div class="module-inner">
    <h3 class="module-title"><span>Follow Us</span></h3>
    <div class="module-ct">
      <div class="custom">
        <ul class="follow-us-social">
          <li>
            <a href="#" title="Instagram" class="btn instagram" rel="noopener noreferrer" target="_blank"
              ><span class="fa fa-instagram" aria-hidden="true"></span
              ><span class="follow-us-social__label">Instagram</span><span class="empty">empty</span></a
            >
          </li>
          <li>
            <a href="#" title="Twitter" class="btn twitter" rel="noopener noreferrer" target="_blank"
              ><span class="fa fa-twitter" aria-hidden="true"></span
              ><span class="follow-us-social__label">Twitter</span><span class="empty">empty</span></a
            >
          </li>
          <li>
            <a href="#" title="YouTube" class="btn youtube" rel="noopener noreferrer" target="_blank"
              ><span class="fa fa-youtube-play" aria-hidden="true"></span
              ><span class="follow-us-social__label">YouTube</span><span class="empty">empty</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
